# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/WebGame/.vs/WebGame
/WebGame/.vs/NotionWebApp/config
/WebGame/.vs/NotionWebApp/FileContentIndex
/WebGame/.vs/NotionWebApp/v17
/WebGame/.vs/ProjectEvaluation
/WebGame/.vs/ProjectEvaluation/webgame.metadata.v7.bin
/WebGame/.vs/ProjectEvaluation/webgame.projects.v7.bin
/WebGame/.vs/NotionWebApp/DesignTimeBuild
/WebGame/TicTacToe/Properties/PublishProfiles
/NotaionWebApp/.vs

appsettings.Production.json
appsettings.Development.json